@import "resetter.scss";


$primary-color: hsl(4, 100%, 67%);
$main-dark: hsl(234, 29%, 20%);
$text-color: hsl(235, 18%, 26%);
$neutral-white: hsl(0, 0%, 100%);
$neutral-grey: hsl(231, 7%, 60%);


$font-weight-normal: 400;
$font-weight-bold: 700;

body{
    font-family: "Roboto", sans-serif;
    font-weight: $font-weight-normal;
    font-style: normal;
    color: $text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: $main-dark;
}

h1{
    font-size: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: $font-weight-bold;
    line-height: 100%;
}

ul{
    display: flex;
    flex-direction: column;
    gap:10px;
}


li{
    display: flex;
    align-items: center;
    gap:8px;
     
}

button{
    padding: 16px 24px;
    border-radius:8px;
    border: none;
    background-color: $main-dark;
    color: $neutral-white;
    font-weight: $font-weight-bold;
    cursor: pointer;
}


.modal{
    position: relative;
    z-index: -1;
    display: flex;
    background-color: $neutral-white;
    border-radius: 36px;
    align-items: center;
    
    .left-column{
        padding: 64px;
        display: flex;
             flex-direction: column;
        gap:24px;
    }

    .right-column{
        padding: 24px 24px 24px 0;
    }
}

form{
    display: flex;
    flex-direction: column;
    gap:8px;

    label{
        font-size: 12px;
        font-weight: $font-weight-bold;
    }

    input{
        padding: 16px 20px;
        margin-bottom: 12px;
        border-radius:8px;
        border: solid 1px $neutral-grey;

        &::placeholder{
            font-size: 16px;
            color:$main-dark;
            opacity: 50%;
        }
    }

 

    }

.confirmation {
    position: absolute;
    // visibility: hidden;
    display: flex;
    flex-direction: column;
    width: 504px;
    height: auto;
    background-color: $neutral-white;
    padding: 40px;
    gap:36px;
    border-radius: 36px;
    visibility: hidden;

    span{
        font-weight: $font-weight-bold;
    }

    img{
        height: 64px;
        width: 64px;
    }

    .message{
        display: flex;
        flex-direction: column;
        gap:24px;
    }
}

.visible{
    opacity: 1;
    visibility: visible;
}